<!DOCTYPE html>

<html>
	<head>
		<title>TODO APP</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="todoAPP.css">
	</head>

	<header>
		<a href="/"><h1>Welcome, this is a TODO APP :)</h1></a>
	</header>

	<body>
		{{{body}}}
	</body>
</html>
