<h2>Greetings, {{username}}!</h2>

<form action="/newitem" method="POST">
    <input class="center" type="text" placeholder="Add New Todo" name="todo_input">
</form>

<form action="/completelist" method="GET">
    <section><button><h3>Complete User List</h3></button></section>
</form>

<form action="/logout" method="GET">
    <section><button><h3>Logout Here</h3></button></section>
</form>
